{% extends 'base.html' %}

{% block title %}
  Password edit
{% endblock title %}

{% block content %}
<div class="flex flex-col justify-center text-center">
  <form action="" method="POST" class="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for message in messages %}
      <div class="text-center">{{message}}</div>
    {% endfor %}
    {% include 'form_erros.html' with form=form %}
    <div class="space-y-2">
      <div>{{form.password.label}}</div>
      <div>{{form.password}}</div>
      <div>{{form.confirm_password.label}}</div>
      <div>{{form.confirm_password}}</div>
    </div>
    <div class="mt-6">
      {% include 'primary_button.html' with text='Submit' %}
    </div>
  </form>
</div>
{% endblock content %}